In [1]:
import spacy

In [2]:
import pandas as pd

In [6]:
df = pd.read_json('News_Category_Dataset.json', lines = True)
df.sample(5)

,short_description,headline,date,link,authors,category
109770,,Protesters Clash With Police As New Unrest Gri...,2014-10-10,https://www.huffingtonpost.com/entry/st-louis-...,,CRIME
49510,"Plus first looks at Gaston, Cogsworth and Lumi...",Sneak A Peek At The Human Prince In 'Beauty An...,2016-08-27,https://www.huffingtonpost.com/entry/beauty-an...,Hilary Hanson,ENTERTAINMENT
99645,,Moving Photos Of Rescued Dogs And Their Tattoo...,2015-02-03,https://www.huffingtonpost.com/entry/tattoos-a...,Arin Greenwood,GOOD NEWS
856,But the finder has raised questions by changin...,"Woman Says She Took Home 'Kittens,' Only To Fi...",2018-05-10,https://www.huffingtonpost.com/entry/bobcats-k...,Hilary Hanson,WEIRD NEWS
5853,"Min, skating for South Korea, completed her sh...",Olympics Figure Skater Yura Min Overcomes Ward...,2018-02-11,https://www.huffingtonpost.com/entry/olympics-...,Dominique Mosbergen,SPORTS

In [34]:
(df.category.value_counts())

category
POLITICS          32739
ENTERTAINMENT     14257
HEALTHY LIVING     6694
QUEER VOICES       4995
BUSINESS           4254
SPORTS             4167
COMEDY             3971
PARENTS            3955
BLACK VOICES       3858
THE WORLDPOST      3664
WOMEN              3490
CRIME              2893
MEDIA              2815
WEIRD NEWS         2670
GREEN              2622
IMPACT             2602
WORLDPOST          2579
RELIGION           2556
STYLE              2254
WORLD NEWS         2177
TRAVEL             2145
TASTE              2096
ARTS               1509
FIFTY              1401
GOOD NEWS          1398
SCIENCE            1381
ARTS & CULTURE     1339
TECH               1231
COLLEGE            1144
LATINO VOICES      1129
EDUCATION          1004
Name: count, dtype: int64

In [16]:
df = df.drop(['date', 'link', 'authors'], axis = 1)
df.head()

,short_description,headline,category
0,She left her husband. He killed their children...,There Were 2 Mass Shootings In Texas Last Week...,CRIME
1,Of course it has a song.,Will Smith Joins Diplo And Nicky Jam For The 2...,ENTERTAINMENT
2,The actor and his longtime girlfriend Anna Ebe...,Hugh Grant Marries For The First Time At Age 57,ENTERTAINMENT
3,The actor gives Dems an ass-kicking for not fi...,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,ENTERTAINMENT
4,"The ""Dietland"" actress said using the bags is ...",Julianna Margulies Uses Donald Trump Poop Bags...,ENTERTAINMENT

In [19]:
df.short_description[10]

'The pop star also wore a "Santa Fe Strong" shirt at his show in Houston.'

In [20]:
df.headline[10]

'Justin Timberlake Visits Texas School Shooting Victims'

In [22]:
mg = pd.concat([df.short_description, df.headline])
type(mg)

pandas.core.series.Series

In [26]:
df.sample(5)

,short_description,headline,category
102105,This reported phrase from the Sermon on the Mo...,The Beam in One's Own Eye,WORLDPOST
92603,Amazing.,Dwight Howard Responds To LeBron James' Full-C...,SPORTS
80957,"""We obviously paid for those services and did ...",Hillary Clinton Says Family Paid State Departm...,POLITICS
119724,,USA Photographer Of The Year Winners Show Off ...,TRAVEL
78923,"The 31-year-old comedian debuts as host on ""Th...",Here's What Happened On Trevor Noah's First 'D...,COMEDY

In [27]:
df.shape

(124989, 3)

In [28]:
min_samples = 3900 # we have these many SCIENCE articles and SCIENCE is our minority class


df_business = df[df.category=="BUSINESS"].sample(min_samples, random_state=2022)
df_sports = df[df.category=="SPORTS"].sample(min_samples, random_state=2022)
df_crime = df[df.category=="COMEDY"].sample(min_samples, random_state=2022)
df_science = df[df.category=="PARENTS"].sample(min_samples, random_state=2022)

In [29]:
df_balanced = pd.concat([df_business,df_sports,df_crime,df_science],axis=0)
df_balanced.category.value_counts()

category
BUSINESS    3900
SPORTS      3900
COMEDY      3900
PARENTS     3900
Name: count, dtype: int64

In [31]:
df_balanced.sample(5)

,short_description,headline,category
102341,Channel your burst of New Year's enthusiasm by...,Office Etiquette: Nine Ways to Strengthen Work...,BUSINESS
111206,I love my daughter. She's beautiful inside and...,This Ordinary Family,PARENTS
45053,"Rules are rules, unfortunately.",The No Fun League Made Its Dumbest Celebration...,SPORTS
119504,,Follow Live: Belgium vs. Russia,SPORTS
20634,There were a lot of topics I considered writin...,Mental Health And Childbirth: Do What Feels Ri...,PARENTS

In [44]:
df_balanced.category = df_balanced.category.map({
    'BUSINESS': 0,
    'SPORTS': 1, 
    'COMEDY': 2, 
    'PARENTS': 3
})

In [49]:
df_balanced.sample(5)

,short_description,headline,category
99082,"Sports consumption is inherently personal, and...",From Uniform & Impersonal to Personalized and ...,0
12429,Wee Channing still has big moves.,This 'Magic Mike XXS' Parody Won't Fix Your Pr...,2
14526,There are 15 million Americans estimated to su...,"Please, set a place for me at the table.",3
33527,Let's see how that went down.,Conan O'Brien Hits Mexico City To Raise Cash F...,2
107042,Gratitude is a key element in defining a perso...,Finding Thanks in Thanksgiving,3

In [57]:
df_balanced["text"] = df_balanced[["short_description", "headline"]].apply("-".join, axis=1)

In [58]:
df_balanced.sample(5)

,short_description,headline,category,text
35417,Release the puppies!,Your Sunday Is Open Again Because These Puppie...,2,Release the puppies!-Your Sunday Is Open Again...
113618,,"9-Year-Old Realizes What's Wrong With ""Throws ...",3,"-9-Year-Old Realizes What's Wrong With ""Throws..."
112883,,How To Teach Your Children Empathy,3,-How To Teach Your Children Empathy
5717,The first black woman on U.S. Olympic short-tr...,Maame Biney Is Now Down To Her Last Shot In Th...,1,The first black woman on U.S. Olympic short-tr...
97953,The biggest problem is not who receives the de...,This Is How Normal People Feel About the Death...,2,The biggest problem is not who receives the de...

In [45]:
from sklearn.model_selection import train_test_split

In [59]:
xtrain, xtest, ytrain, ytest = train_test_split(df_balanced.text, df_balanced.category, test_size=0.2, stratify= df_balanced.category, random_state = 21)

In [60]:
xtrain.shape

(12480,)

In [61]:
ytrain.value_counts()

category
2    3120
3    3120
0    3120
1    3120
Name: count, dtype: int64

In [42]:
from sklearn.pipeline import Pipeline

In [55]:
from sklearn.metrics import classification_report

In [54]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer

In [62]:
clf = Pipeline([
    ('countvector', CountVectorizer()),
    ('model', MultinomialNB())
])

clf.fit(xtrain, ytrain)

y_pred = clf.predict(xtest)
print(classification_report(ytest, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.86      0.87       780
           1       0.91      0.86      0.89       780
           2       0.87      0.73      0.79       780
           3       0.76      0.94      0.84       780

    accuracy                           0.85      3120
   macro avg       0.86      0.85      0.85      3120
weighted avg       0.86      0.85      0.85      3120

In [63]:
nlp = spacy.load('en_core_web_sm')
def preproces(text):
    processed_list = []
    doc = nlp(text)
    for token in doc:
        if token.is_punct or token.is_stop:
            continue
        processed_list.append(token.lemma_)
    return " ".join(processed_list)

In [64]:
df_balanced.sample(3)

,short_description,headline,category,text
63516,"""I'm a KID.""",Little League Sign For Parents Gets Straight T...,3,"""I'm a KID.""-Little League Sign For Parents Ge..."
53513,"For pregnant women, taking prenatal vitamins m...","Prenatal Multivitamins Don't Help Much, Study ...",3,"For pregnant women, taking prenatal vitamins m..."
106417,,THE CFPB Launches No-Action Letters for Financ...,0,-THE CFPB Launches No-Action Letters for Finan...

In [66]:
df_balanced['preprocess_text'] = df_balanced.text.apply(preproces)

In [67]:
xtrain, xtest, ytrain, ytest = train_test_split(
    df_balanced.preprocess_text, df_balanced.category,
    test_size=0.2, stratify= df_balanced.category, random_state = 21)

In [68]:
clf = Pipeline([
    ('countvector', CountVectorizer()),
    ('model', MultinomialNB())
])

clf.fit(xtrain, ytrain)

y_pred = clf.predict(xtest)
print(classification_report(ytest, y_pred))

              precision    recall  f1-score   support

           0       0.89      0.88      0.88       780
           1       0.92      0.89      0.90       780
           2       0.86      0.76      0.81       780
           3       0.80      0.93      0.86       780

    accuracy                           0.87      3120
   macro avg       0.87      0.87      0.86      3120
weighted avg       0.87      0.87      0.86      3120

In [74]:
ytest[:5]

109999    0
5956      1
51296     1
22367     2
28761     2
Name: category, dtype: int64

In [70]:
y_pred[:5]

array([0, 1, 1, 3, 2], dtype=int64)

In [71]:
from sklearn.ensemble import RandomForestClassifierc

In [73]:
clf = Pipeline([
    ('countvector', CountVectorizer(ngram_range=(1,3))),
    ('model', RandomForestClassifier())
])

clf.fit(xtrain, ytrain)

y_pred = clf.predict(xtest)
print(classification_report(ytest, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.84      0.85       780
           1       0.91      0.79      0.84       780
           2       0.75      0.85      0.80       780
           3       0.88      0.90      0.89       780

    accuracy                           0.84      3120
   macro avg       0.85      0.84      0.84      3120
weighted avg       0.85      0.84      0.84      3120