In [1]:
import spacy

In [2]:
nlp  = spacy.load('en_core_web_sm')

In [7]:
doc = nlp('Elon flew to mars yesterday. He carried biryani masala with him')
for token in doc:
    print(token, "|", token.pos_, "|",spacy.explain(token.pos_))

Elon | PROPN | proper noun
flew | VERB | verb
to | ADP | adposition
mars | NOUN | noun
yesterday | NOUN | noun
. | PUNCT | punctuation
He | PRON | pronoun
carried | VERB | verb
biryani | ADJ | adjective
masala | NOUN | noun
with | ADP | adposition
him | PRON | pronoun

In [9]:
doc2 = nlp('Wow! Dr. Strange made 265 million $ on the very first day')
for token in doc2:
    print(token, "|", token.tag_ , "|", spacy.explain(token.tag_))

Wow | UH | interjection
! | . | punctuation mark, sentence closer
Dr. | NNP | noun, proper singular
Strange | NNP | noun, proper singular
made | VBD | verb, past tense
265 | CD | cardinal number
million | CD | cardinal number
$ | CD | cardinal number
on | IN | conjunction, subordinating or preposition
the | DT | determiner
very | RB | adverb
first | JJ | adjective (English), other noun-modifier (Chinese)
day | NN | noun, singular or mass

In [10]:
text = """Microsoft Corp. today announced the following results for the quarter ended December 31, 2021, as compared to the corresponding period of last fiscal year:

·         Revenue was $51.7 billion and increased 20%
·         Operating income was $22.2 billion and increased 24%
·         Net income was $18.8 billion and increased 21%
·         Diluted earnings per share was $2.48 and increased 22%
“Digital technology is the most malleable resource at the world’s disposal to overcome constraints and reimagine everyday work and life,” said Satya Nadella, chairman and chief executive officer of Microsoft. “As tech as a percentage of global GDP continues to increase, we are innovating and investing across diverse and growing markets,\
with a common underlying technology stack and an operating model that reinforces a common strategy, culture, and sense of purpose.”
“Solid commercial execution, represented by strong bookings growth driven by long-term Azure commitments, increased Microsoft Cloud revenue to $22.1 billion, up 32% year over year” said Amy Hood, executive vice president and chief financial officer of Microsoft."""
doc3 = nlp(text)

In [ ]:
for token in doc3:
    print(token.pos_ ,"|", token)

### Removing all SPACE, PUNCT and X token from text

In [ ]:
filt_text = []
for token in doc3:
    if token.pos_ not in ['SPACE', 'PUNCT', "X"]:
        filt_text.append(token.text)
filt_text

### EXERCISE

In [23]:
news = '''Inflation rose again in April, continuing a climb that has pushed consumers to the brink and is threatening the economic expansion, the Bureau of Labor Statistics reported Wednesday.

The consumer price index, a broad-based measure of prices for goods and services, increased 8.3% from a year ago, higher than the Dow Jones estimate for an 8.1% gain. That represented a slight ease from March’s peak but was still close to the highest level since the summer of 1982.

Removing volatile food and energy prices, so-called core CPI still rose 6.2%, against expectations for a 6% gain, clouding hopes that inflation had peaked in March.

The month-over-month gains also were higher than expectations — 0.3% on headline CPI versus the 0.2% estimate and a 0.6% increase for core, against the outlook for a 0.4% gain.

The price gains also meant that workers continued to lose ground. Real wages adjusted for inflation decreased 0.1% on the month despite a nominal increase of 0.3% in average hourly earnings. Over the past year, real earnings have dropped 2.6% even though average hourly earnings are up 5.5%.

Inflation has been the single biggest threat to a recovery that began early in the Covid pandemic and saw the economy in 2021 stage its biggest single-year growth level since 1984. Rising prices at the pump and in grocery stores have been one problem, but inflation has spread beyond those two areas into housing, auto sales and a host of other areas.

Federal Reserve officials have responded to the problem with two interest rate hikes so far this year and pledges of more until inflation comes down to the central bank’s 2% goal. However, Wednesday’s data shows that the Fed has a big job ahead.

Credits: cnbc.com'''

In [24]:
doc4 = nlp(news)

In [27]:
noun_news = []
for token in doc4:
    if token.pos_ == "NOUN":
        noun_news.append(token.text)
noun_news[:10]

['Inflation',
 'climb',
 'consumers',
 'brink',
 'expansion',
 'consumer',
 'price',
 'index',
 'measure',
 'prices']

In [38]:
num_news = []
for token in doc4:
    if token.pos_ == "NUM":
        num_news.append(token.text)
num_news

['8.3',
 '8.1',
 '1982',
 '6.2',
 '6',
 '0.3',
 '0.2',
 '0.6',
 '0.4',
 '0.1',
 '0.3',
 '2.6',
 '5.5',
 '2021',
 '1984',
 'one',
 'two',
 'two',
 '2']

In [33]:
count = doc4.count_by(spacy.attrs.POS)
count

{92: 96,
 100: 27,
 86: 15,
 85: 39,
 96: 16,
 97: 32,
 90: 34,
 95: 4,
 87: 13,
 89: 10,
 84: 23,
 103: 7,
 93: 19,
 94: 4,
 98: 8,
 101: 1}

In [35]:
doc4.vocab[93].text

'NUM'

In [39]:
# count all POS tags
for k, v in count.items():
    print(doc4.vocab[k].text, "|", v)

NOUN | 96
VERB | 27
ADV | 15
ADP | 39
PROPN | 16
PUNCT | 32
DET | 34
PRON | 4
AUX | 13
CCONJ | 10
ADJ | 23
SPACE | 7
NUM | 19
PART | 4
SCONJ | 8
X | 1

In [48]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc5 = nlp(text)

In [50]:
states = []
for token in doc5.ents:
    if token.label_ == 'GPE':
        states.append(token.text)
states

['India',
 'Delhi',
 'Gujarat',
 'Tamilnadu',
 'Pongal',
 'Andhrapradesh',
 'Assam',
 'Bihar']

In [51]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc5 = nlp(text)

In [53]:
birth_date = []
for token in doc5.ents:
    if token.label_ == 'DATE':
        birth_date.append(token.text)
birth_date

['24 April 1973', '5 November 1988', '7 July 1981', '19 December 1974']